source/Node-RED_MQTT.txt
[{"id":"d397893.eb5d478","type":"debug","z":"201637a4.ee5a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":160,"wires":[]},{"id":"3ddc21e6.5c166e","type":"ui_button","z":"201637a4.ee5a68","name":"","group":"20b50549.ef4c2a","order":0,"width":0,"height":0,"passthru":false,"label":"LED on","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":220,"wires":[["d397893.eb5d478","5c25e50f.54be34"]]},{"id":"1fb54ec7.6724e1","type":"ui_button","z":"201637a4.ee5a68","name":"","group":"20b50549.ef4c2a","order":0,"width":0,"height":0,"passthru":false,"label":"LED off","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":160,"y":280,"wires":[["d397893.eb5d478","5c25e50f.54be34"]]},{"id":"5c25e50f.54be34","type":"mqtt out","z":"201637a4.ee5a68","name":"","topic":"outArdPin","qos":"0","retain":"false","broker":"d79f6339.dff46","x":440,"y":240,"wires":[]},{"id":"58127e6e.504f68","type":"mqtt in","z":"201637a4.ee5a68","name":"","topic":"inArdPin","qos":"0","broker":"d79f6339.dff46","x":160,"y":340,"wires":[["d397893.eb5d478","499ae4c9.82934c"]]},{"id":"499ae4c9.82934c","type":"ui_text","z":"201637a4.ee5a68","group":"20b50549.ef4c2a","order":0,"width":0,"height":0,"name":"","label":"Switch input","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":340,"wires":[]},{"id":"20b50549.ef4c2a","type":"ui_group","z":"","name":"IO","tab":"7ff14adb.d3d9f4","disp":true,"width":"6","collapse":false},{"id":"d79f6339.dff46","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.1.162","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7ff14adb.d3d9f4","type":"ui_tab","z":"","name":"io","icon":"dashboard"}]
